@import url('./theme.less');

.app {
  position: relative;
  color: #fff;
}

.commonBackground {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(664% 136.73% at 100% 0%,
      rgba(123, 58, 235, 1) 0%,
      rgba(0, 0, 0, 1) 57.64%,
      rgba(123, 58, 235, 0) 170%);
  overflow: hidden;
}