@import url('@/styles/App.module.less');

.icon_picker {
  padding: 30px 10px 100px;
}
.header {
  display: flex;
  align-items: center;
  position: relative;
}
.leftSection {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.centerSection {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 800;
}
.tab {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.content {
  background-color: @card-bg-color-1;
  height: 100%;
  border-radius: 16px;
  overflow: auto;
  padding: 10px;
  padding-bottom: 100px;
  :global {
    .adm-button {
      .swipe-action-mixin();
    }
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @card-bg-color-1;
    padding: 10px 0;
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.footer {
  position: fixed;
  bottom: 25px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.popup {
  .content {
    overflow: hidden;
    height: 455px;
    backdrop-filter: blur(8px);
    color: @font-color-white;
    .confirmBt {
      :global {
        .adm-button {
          width: 70px;
          height: 30px;
          .adm-button-primary-mixin();
          font-size: 12px;
        }
      }
    }
    .space {
      margin-top: 20px;
      :global {
        .adm-input {
          width: 200px;
        }
        .adm-input-element {
          border-radius: 10px;
          padding: 0 10px;
          font-size: 12px;
          height: 30px;
          color: @font-color-white;
          background-color: @card-bg-color-3;
        }
      }
      width: 100%;
    }
    .iconContent {
      height: 286px;
      overflow: auto;
    }
  }
}

.CardIconList {
  margin-top: 20px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }
  .icons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 19px;
  }
}
