@import url('@/styles/App.module.less');
@import url('@/styles/fonts.less');


.tally {
  padding: 0 20px;
  color: rgba(229, 229, 229, 1);
}

.header {
  position: relative;

  .tab {
    width: 182px;
    height: 35px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.33);
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &_item {
      font-size: 14px;
      font-weight: 700;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &_active {
        background: rgba(125, 57, 235, 1);
      }
    }

  }

  .cancel {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.content {
  width: 334px;
  height: 61px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.33);
  margin-top: 42px;
  padding: 0 5px;

  &_list {
    height: 61px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_item {
    flex-shrink: 0;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
}