@import url('@/styles/fonts.less');

.canvas_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.placeholder {
  height: 12px;
}

.login {

  &_title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    &_text {
      font-size: 24px;
      font-family: 'YouSheBiaoTiYuan';
      color: #7B3AEB;
    }
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 80px;
  }
}

.describe {
  font-size: 16px;
  font-family: 'YouSheBiaoTiYuan';
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_label {
    margin: 20px 0 1px 0;
    width: 338px;
    padding-left: 18px;
    font-weight: 700;
  }

  &_passwordText {
    margin: 10px 0 1px 0;
    width: 338px;
    padding-left: 18px;
    font-weight: 700;
  }

  &_input {

    :global {
      .adm-input {
        input {
          width: 338px;
          height: 40px;
          background: rgba(255, 255, 255, 0.17);
          backdrop-filter: blur(4px);
          border-radius: 50px;
        }

        .adm-input-element {
          caret-color: #ffffff;
          color: #ffffff;
          padding: 0 15px;
        }
      }
    }
  }
}

.captcha_box {
  width: 338px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  :global {
    .adm-input-element {
      caret-color: #ffffff;
      color: #ffffff;
      padding: 0 15px;
    }
  }

  .captcha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    &_style {
      border-radius: 10px;
    }

    span {
      font-size: 12px;
      font-weight: 600;
      color: #7B3AEB;
      cursor: pointer;
    }
  }


}

.interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  width: 338px;


  &_loginBtn {
    :global {
      .adm-button {
        width: 200px;
        height: 40px;
        border-radius: 50px;
        background: rgba(125, 57, 235, 1);
        backdrop-filter: blur(4px);
        transition: transform 0.15s ease-in-out;
        transform: scale(1);
        border: transparent;
        color: white;
      }
    }
  }


  &_registerBtn {
    &_text {
      font-size: 12px;
      color: #fff;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    :global {
      .adm-button {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: #7D39EB;
        --border-width: 0px;
      }
    }
  }
}

.footer {
  width: 338px;
  margin: 1px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  &_checkbox {
    :global {
      .adm-checkbox.adm-checkbox-checked .adm-checkbox-icon {
        border-color: #fff;
        background-color: transparent;
      }

      .adm-checkbox-content {
        font-size: 12px;
      }

      .adm-checkbox {
        --icon-size: 16px
      }

      .adm-list-item {
        padding-left: 5px;
      }
    }
  }
}