@import url('@/styles/App.module.less');

.deficit {
  padding: 0 28px;

  :global {
    .adm-progress-bar-trail {
      background-color: rgba(255, 255, 255, 0.33);
    }
  }
}

.header {
  margin-top: 41px;
  position: relative;

  .PreAllocationRatio {
    width: 109px;
    height: 10px;
    position: absolute;
    top: 110px;
    right: 10px;

    span {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 5px;
      white-space: nowrap;
    }
  }
}

.pie_chart {
  width: 100%;
  height: 160px;
}

.message {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.33);
  padding: 10px;
  border-radius: 16px;

  span {
    white-space: nowrap;
    font-size: 12px;
  }
}

.content {
  margin-top: 20px;
  &_hr {
    background: @card-bg-color-3;
    width: 100%;
    height: 2px;
    border-radius: 0 0 50px 50px;
  }

  &_btn {
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    background: @card-bg-color-3;
    cursor: pointer;
  }

  &_title {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &_list {
    margin-top: 10px;
    overflow-y: auto;
    height: 250px;
    padding: 10px 10px 10px 5px;
    :global {
      .adm-button {
        .swipe-action-mixin();
        transform: translateY(9px);
        margin-left: 10px;
        span {
          display: inline-block;
          transform: translateY(-5px);
        }
      }
    }
  }
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;

  &_icon {
    flex: 1;

    &_avatar {
      --border-radius: 50px;
      --size: 25px;
    }
  }

  &_content {
    flex: 9;

    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        :not(:last-child) {
          display: inline-block;
          white-space: nowrap;
          width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &_progressBar {
      width: 100%;
      --track-width: 9px;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 0;
}

.row {
  display: grid;
  grid-template-columns: 120px 1fr; /* 左固定宽度, 右自适应 */
  align-items: start;
  column-gap: 8px;
}
.datePicker {
  .date-picker-mixin();
}
